<jhi-page-ribbon />

<div>
  <router-outlet name="navbar" />
</div>

<!-- Sidebar and theme switch only for authenticated pages -->
<ng-container *ngIf="accountService.isAuthenticated()">
  <div class="main-layout-with-sidebar">
    <jhi-sidebar></jhi-sidebar>
    <div class="main-content-area">
      <div class="container-fluid">
        <div class="card jh-card">
          <router-outlet />
        </div>
        <jhi-footer />
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="!accountService.isAuthenticated()">
  <div class="container-fluid">
    <div class="card jh-card">
      <router-outlet />
    </div>
    <jhi-footer />
  </div>
</ng-container>
