<div class="dashboard-header">Bienvenue, client !</div>
<main class="dashboard-main-area">
  <h1>Mes tickets</h1>
  <div class="dashboard-stats">
    <div class="stat-card stat-blue">
      <div class="stat-value">{{ stats.tickets }}</div>
      <div class="stat-label">TICKETS</div>
    </div>
    <div class="stat-card stat-cyan">
      <div class="stat-value">{{ stats.open }}</div>
      <div class="stat-label">EN COURS</div>
    </div>
    <div class="stat-card stat-green">
      <div class="stat-value">{{ stats.closed }}</div>
      <div class="stat-label">RÉSOLUS / FERMÉS</div>
    </div>
  </div>
</main>
