<header class="main-header">
  <div class="header-left">
    <a class="site-title" routerLink="/">
      <img src="/content/images/devtech.png" alt="DevTech Logo" style="height: 160px; vertical-align: middle" />
    </a>
  </div>
  <nav class="header-nav">
    <a routerLink="/" routerLinkActive="active">Home</a>
    <a
      *ngIf="account() && account()?.authorities?.includes('ROLE_USER') && !account()?.authorities?.includes('ROLE_ADMIN')"
      routerLink="/user-dashboard"
      routerLinkActive="active"
      >User Dashboard</a
    >
    <a *ngIf="account() && account()?.authorities?.includes('ROLE_ADMIN')" routerLink="/admin-dashboard" routerLinkActive="active"
      >Admin Dashboard</a
    >
    <a *ngIf="!account()" (click)="login()">Login</a>
    <a *ngIf="!account()" routerLink="/app-user-register" routerLinkActive="active">Register</a>
    <a *ngIf="account()" (click)="logout()">Logout</a>
  </nav>
</header>
